<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .active{
            color: greenyellow;
        }
    </style>
    <script src="./node_modules/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <p>{{ msg }}</p>
        <input type="text" v-model="msg">
        <button v-on:click="clickme" v-bind:title="date" :id="id">点击</button>

        <ul v-if="newArr.length">
            <li v-for="arr  in newArr">{{arr}}</li>
        </ul>
        <p v-else>
            数组为空
        </p>
        <div class="wrap" v-html="html" :class="{active: isGet}">

        </div>
    </div>
    <script>
        var arr = [1, 2, 3, 4, 5];
        var newArr = arr.map(function(item){
            return item * 2;
        })
        var vm = new Vue({
            el: '#app',
            data: { 
                msg: "hello vue !",
                newArr: newArr,
                date: new Date().toLocaleString(),
                id: 'ifget',
                html: "<p>this is a p tag</p>",
                isGet: true
            },
            methods: {
                clickme(){
                    console.log('hello');
                }
            }
        })
    </script>
    
</body>
</html>