.pic {
	position: absolute;
	width: 70px;
	height: 40px;
	left: 50%;
	top: 50%;
	margin-top: -20px;
	margin-left: -35px;
	z-index: 9999;
}

.pic i {
	display: block;
	width: 10px;
	height: 40px;
	float: left;
	margin: 0 2px;
	background-color: lightgreen;
	-webkit-transform: scaleY(0.4);
	-ms-transform: scaleY(0.4);
	transform: scaleY(0.4);
	-webkit-animation: animate 1.2s infinite;
	animation: animate 1.2s infinite;
}

@-webkit-keyframes animate {
	0%,
	40%,
	100% {
		-webkit-transform: scaleY(0.4);
		transform: scaleY(0.4);
	}
	20% {
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
	}
}

@keyframes animate {
	0%,
	40%,
	100% {
		-webkit-transform: scaleY(0.4);
		transform: scaleY(0.4);
	}
	20% {
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
	}
}

.pic i:nth-child(2) {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

.pic i:nth-child(3) {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

.pic i:nth-child(4) {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

.pic i:nth-child(5) {
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}